/* -------- НОРМАЛІЗАТОР ---------------------------- */

/* Вказуємо box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Прибираєм зовнішні відступи */
body,
h1,
h2,
h3,
h4,
p,
li {
  margin: 0;
}

/* Видаляємо стандартну стилізацію для всіх ul та il, Прибираєм внутрішні відступи */
ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Елементи a скидаємо до дефолтних стилів */
a {
  text-decoration: none;
}

/* Спрощуємо роботу із зображеннями */
img {
  max-width: 100%;
  display: block;
}

/* Наслідуємо шрифти для інпутів та кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* -------- ----------------------------- ---------------------------- */

/*--------------------- ЗАГАЛЬНІ СТИЛІ ----------*/

body {
  background: #fefefe;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1280px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

/* -------- ----------------------------- ---------------------------- */

/* ------------Maksim Karpenko----HEADER------------------------ */

.header {
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
}
.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  margin-left: auto;
}

.header-logo {
  padding: 10px 0;
  flex-grow: 1;
}

.header-logo-img {
}

.header-list-menu {
  display: flex;
  gap: 28px;
}

.header-item-menu {
}

.header-link-menu {
  display: block;
  padding: 28px 0;
  font-size: 14px;
  color: #2c2c2c;
}

.header-link-activ {
  font-weight: 700;
  text-decoration: underline;
  color: #bbf330;
}

.header-button {
  border: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
  color: #2c2c2c;
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
  background: #bbf330;
  border-radius: 30px;
  padding: 6px 17px;
  height: 32px;
  margin: 20px 0 20px 20px;
  cursor: pointer;
}

.header-button:hover,
.header-button:focus {
  background: #ffe450;
}

/* -------- ----------------------------- ---------------------------- */

/* -------- ----------------------Hero stails------- ----------------- */

.hero {
  padding-top: 169px;
  padding-bottom: 219px;
}

.hero-container-flex {
  display: flex;
  gap: 143px;
  position: relative;
}

.hero-container {
}
.hero-title {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  color: #2c2c2c;
  margin-bottom: 28px;
  max-width: 502px;
}
.hero-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2c2c2c;
  margin-bottom: 40px;
  max-width: 511px;
}
.hero-button {
  border: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
  color: #2c2c2c;
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
  background: #bbf330;
  border-radius: 30px;
  padding: 6px 17px;
  height: 32px;
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background: #ffe450;
}

.hero-container-image {
  border-radius: 50%;
  border: 26px solid #ffe550;
  position: absolute;
  top: -145px;
  right: 14px;
}
.hero-image {
  border-radius: 291px;
}




/* ----------------MODAL OVERLAY------------------------ */

.modal-overlay {
  position: fixed;
  background-color: rgba(94, 99, 99, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden{
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 30px;
  width: 458px;
  height: 449px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
  background-color: #ffe550;

  display: flex;
  flex-direction: column;
  padding: 32px;

}

.modal-btn-close {
  position: absolute;
  top: 12px;
  right: 12px;
  border-radius: 100%;
  border: none;
  cursor: pointer;

  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-btn-close:hover,.modal-btn-close:focus{
  background-color: #bbf330;
}


.modal-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  color: #2c2c2c;
  margin: 0 auto;
}

.modal-form {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.modal-form-wrapper{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.modal-container-form {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.modal-label {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: #2c2c2c;
  padding-left: 12px;
}

.modal-input {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.4;
  color: #2c2c2c;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
  border: 1px solid #7eb101;
  border-radius: 30px;
  outline: none;
  height: 48px;
  padding-left: 12px;
}

.modal-input::placeholder{
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: #2c2c2c;
}



.modal-button {
  border: 2px solid #7eb101;
  border-radius: 30px;
  padding: 10px 20px;
  width: 106px;
  height: 40px;
  display: block;
  margin: 0 auto;
  background-color: #fff;
  cursor: pointer;
  margin-top: 32px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover, .modal-button:focus{
  background-color: #bbf330;
}

/* --------------------------------------- */