/* -------- НОРМАЛІЗАТОР ---------------------------- */

/* Вказуємо box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Прибираєм зовнішні відступи */
body,
h1,
h2,
h3,
h4,
p,
li{
    margin: 0;
}


/* Видаляємо стандартну стилізацію для всіх ul та il, Прибираєм внутрішні відступи */
ul,ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Елементи a скидаємо до дефолтних стилів */
a {
    text-decoration: none;
}

/* Спрощуємо роботу із зображеннями */
img {
    max-width: 100%;
    display: block;
    
}


/* Наслідуємо шрифти для інпутів та кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* -------- ----------------------------- ---------------------------- */

/* ------------Maksim Karpenko----HEADER------------------------ */

.header {
    display: flex;
    
}

.header-navigation {
    display: flex;
    
}

.header-logo {

}

.header-logo-img {
    
    
}

.header-list-menu {
    display: flex;
    gap: 28px;
}

.header-item-menu {
    
}

.header-link-menu {
    
}

.header-link-green {
    
}

.header-button {
    
}


/* -------- ----------------------------- ---------------------------- */